name: Blog
on:
  push:
    branches: [ main ]
jobs:
  build:
    name: Blog
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '1.16.3'
    - run: go build -o blog
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: marlonfan/blog:latest
    # - name: Build Blog
    #   env:
    #     USER: ${{ secrets.SERVER_USER }}
    #     KEY: ${{ secrets.SERVER_KEY }}
    #     DOMAIN: ${{ secrets.SERVER_DOMAIN }}
    #   run: |
    #     mkdir ~/.ssh
    #     echo "$KEY" | tr -d '\r' > ~/.ssh/id_ed25519
    #     chmod 400 ~/.ssh/id_ed25519
    #     eval "$(ssh-agent -s)"
    #     ssh-add ~/.ssh/id_ed25519
    #     ssh-keyscan -H $DOMAIN >> ~/.ssh/known_hosts
    #     ssh $USER@$DOMAIN "cd marlon.life/blog && proxychains4 git fetch && git rebase && kubectl apply -f deployments.yaml"
